# ==========================================
# C / C++ (1 семестр)
# ==========================================
*.exe
*.obj
*.o
*.ipch
*.ilk
*.pdb
*.idb
*.VC.db
*.opendb

# ==========================================
# C# / .NET / Visual Studio (1 и 2 семестры)
# ==========================================
.vs/
**/.vs/
**/bin/
**/obj/
*.user
*.suo
*.userosscache
*.sln.docstates

# ==========================================
# Java (3 семестр - ООП)
# ==========================================
*.class
*.jar
*.war
*.ear
out/
target/

# ==========================================
# Python (3 семестр)
# ==========================================
__pycache__/
*.py[cod]
.venv/
venv/

# ==========================================
# Настройки редакторов и IDE
# ==========================================
.idea/
**/.idea/
*.iml
.vscode/
**/.vscode/
.gemini/

# ==========================================
# Служебные файлы Windows / OneDrive
# ==========================================
Thumbs.db
Desktop.ini
$RECYCLE.BIN/
*.tmp
*.log

# Временные файлы ввода/вывода (Лаб 3 ООП)
*.transport
*.serialized
*.ser
*.dat
car.txt
bike.txt
