# ==========================================
# C# / .NET / Visual Studio (2 семестр)
# ==========================================
.vs/
**/bin/
**/obj/
*.user
*.suo
*.userosscache
*.sln.docstates

# ==========================================
# Java (3 семестр - ООП)
# ==========================================
*.class
*.jar
*.war
*.ear
out/
target/

# ==========================================
# Python (3 семестр - Компьютерная графика)
# ==========================================
__pycache__/
*.py[cod]
*.class
.venv/
venv/

# ==========================================
# Настройки редакторов и IDE
# ==========================================
.idea/
*.iml
.vscode/
.gemini/

# ==========================================
# Служебные файлы Windows / OneDrive
# ==========================================
Thumbs.db
Desktop.ini
$RECYCLE.BIN/
*.tmp
*.log
